.channelContents {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-areas:
    "title"
    "....."
    "....."
    "....."
    "desc";
}

.channelDesc {
  grid-area: desc;
}

.test {
  height: 100%;
}

@media (max-width: 1020px) {
  .channelListing {
    min-height: 200px;
    max-width: 150px;
    margin: 10px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
  }
  .channelContents {
    height: 100%;
  }
}
