.videoSection {
  background: rgb(233, 233, 233);
  display: flex;
  flex-direction: column;
  padding: 20px 20%;
  max-height: 900px;
}

.videos {
  display: flex;
}

.mainVidContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.mainVid {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.videoCarousel {
  overflow: hidden;
  overflow-y: auto;
}

.vidCard {
  flex-shrink: 0;
  min-width: 200px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 770px) {
  .videoSection {
    padding: 5px 20px
  }
  .videos {
    flex-direction: column;
  }
  .videoCarousel {
    display: flex;
    overflow: auto;
  }
}
