.videoSection {
  background: yellow;
  display: flex;
  flex-direction: column;
  padding: 20px 20%;
}

.videos {
  display: flex;
}

.mainVidContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.mainVid {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.videoCarousel {
  flex: 1;
}
