.pageHeader {
  background: gray;
  display: flex;
  position: fixed;
  float: left;
  z-index: 1;
  min-height: 80px;
  width: 100%;
  position: absolute;
  top: 0%;
}


@media (max-width: 1020px) {
  .pageHeader {
    display: none;
  }
}