.frontPage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "header header tagline tagline"
    "one    one    two     three"
    "one    one    two     three"
    "one    one    five    five"
    "four   four   five    five"
    "four   four   five    five";
  column-gap: 10px;
  row-gap: 10px;
  min-height: 650px;
  max-width: 80vw;
  margin-top: 80px;
  margin-left: 10vw;
}

.largeHeader {
  grid-area: header;
}
.largeTagline {
  grid-area: tagline;
}
.firstArticle {
  grid-area: one;
}
.secondArticle {
  grid-area: two;
}
.thirdArticle {
  grid-area: three;
}
.fourthArticle {
  grid-area: four;
}
.fifthArticle {
  grid-area: five;
}

.smallContainer {
  display: none;
  visibility: hidden;
}

@media (max-width: 1020px) {
  .frontPage {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "header  header  header  header"
      "tagline tagline tagline tagline"
      "one     one     one    one"
      "two     two     three  three"
      "four    four    five   five";
    min-height: 1000px;
  }
}

@media (max-width: 770px) {
  .frontPage {
    width: 98%;
    max-width: none;
    margin: 1%;
    margin-top: 80px;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas:
      "header"
      "articles"
      "banner";
  }
  .large {
    display: none;
  }
  .smallContainer {
    display: flex;
    overflow-x: auto;
  }
  .small.articleCard {
    display: block;
    width: 100%;
    height: 100%;
    flex: none;
    margin: 0 1%;
  }
  .smallHeader {
    grid-area: header;
  }
  .articleContainer {
    grid-area: articles;
  }
  .banner {
    grid-area: banner;
  }
}
