body {
  counter-reset: numberedList;
  background: #fafafa;
}

h1 {
  font-size: 3em
}

h2 {
  font-size: 2em;
}

.articleCardSm::before {
  counter-increment: numberedList;
  content: counter(numberedList);
  font-size: 2em;
  color: rgb(235, 61, 206)
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
