.popular {
  padding: 20px 20%;
  display: flex;
  flex-direction: column;
  background: rgb(235, 235, 235);
  margin-top: 50px;
}

.popularHeading {
  color: gray;
  padding: 0px 10px 50px 10px
}

.articleList {
  list-style: none;
  display: flex;
}

@media (max-width: 1020px) {
  .popular {
    padding: 40px 10px 60px 10px;
  }
  .articleList {
    display: flex;
    flex-direction: column;
  }
}
